<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Test rails app</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "container">

  <h1>Welcome to testapp</h1>
  <h2>About</h2>
    <p>This app will control raspberry-pi gpio output, serial, websocket, and more comming.</p>
    <br>

    <div class = "col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Farmbot head controller</div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, ius nostro detraxit cu, summo cotidieque eu sea. Sit assentior percipitur complectitur no, ad paulo tantas legere his, at est
            sonet explicari. Id sit error munere comprehensam. His in sonet epicurei.</p>
          <!-- <div class="alert alert-success" role="alert"><p></p></div> -->

          <div class = "col-md-6">
            <%= button_to "↓",{ :action => "button" ,:name => "on_button"},:class=>'btn btn-success'%>
            <%= button_to "↑",{ :action => "button" ,:name => "on_button"},:class=>'btn btn-success'%>
            <%= button_to "→",{ :action => "button" ,:name => "on_button"},:class=>'btn btn-success'%>
            <%= button_to "←",{ :action => "button" ,:name => "on_button"},:class=>'btn btn-success'%>
          </div>

          <div class = "col-md-6">
            aaa
          </div>

        </div>
      </div>
    </div>

    <div class = "col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">On-board LED controll</div>
        <div class="panel-body">
          <p>Onboard LED on/off can be controlled here. </p>
          <div class="alert alert-success" role="alert"><p><%= $button_msg %></p></div>
          <%= button_to "ON",{ :action => "button" ,:name => "on_button"},:class=>'btn btn-primary'%>
          <%= button_to "OFF",{ :action => "button" ,:name => "off_button"},:class=>'btn btn-primary'%>
        </div>
      </div>
    </div>

    <div class = "col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Serial signal send form</div>
        <div class="panel-body">
          <p>Input data to send on serial below.</p>
          <div class="alert alert-success" role="alert"><p><%= $serial_msg %></p></div>
          <div class = 'input-group'>
            <%= form_for(@user, :url => {:action => 'serial'}) do |f| %>
            <%= f.text_field  :data ,:class => "form-control"   %><br>
            <%= f.submit"Send",:class => "btn btn-primary",:action=>'serial' %>
            <% end %>
        </div>
        </div>
      </div>
    </div>



</div><!-- container -->
